%h1
  I need a name for
  %b= h(@survey.what)

%h2
  = h(@survey.description)

- unless @survey.suggestions.empty?
  %h2 Suggestions
  %ul
    - @survey.suggestions.each do |suggestion|
      %li= h(suggestion.name)

%h2 What would you call it?
- form_for Suggestion.new, :url =>{ :action => :suggest, :id => @survey.to_param } do |f|
  = f.text_field :name
  = f.submit "Suggest"